<html>
<head>
    <script src="scripts/script.js"></script>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Smart Annotator</h1>

<h3>Let's start</h3>
<ol>
  <li>Select a file from local drive</li>
  <li>Adjust the bounding box</li>
  <li>Double-click inside the box</li>
  <li>Work on the polygon</li>
</ol>

<div>
    <input type="file" id="input-file" />
</div>

<div style="display:none;">
    <img id="image-source">
</div>

<div class="annotation-canvas">
    <canvas id="canvas" width=600 height=500></canvas>
</div>

<script>
    document.getElementById('canvas').oncontextmenu = function(e) { e.preventDefault(); return false; };

    var appController = new AppController(
      document.getElementById('canvas'),
      document.getElementById('image-source')
    );

    window.onscroll = function(e) { appController.resetOffset(); }
    window.onresize = function(e) { appController.resetOffset(); }

    function handleFileSelect(evt) {
      var files = evt.target.files; // FileList object

      // Loop through the FileList and render image files as thumbnails.
      f = files[0];

      // Only process image files.
      if (!f.type.match('image.*')) {
        return;
      }

      var reader = new FileReader();

      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // render local image into html element
          var img = document.getElementById('image-source');
          img.src = e.target.result;

          // wait for image to be loaded, then draw on the canvas
          img.onload = function() {
            const canvas = document.getElementById('canvas');

            // clear canvas
            const ctx = canvas.getContext('2d');
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            // reset canvas size
            console.log('image size: ', img.naturalWidth, img.naturalHeight)
            canvas.width = img.naturalWidth;
            canvas.height = img.naturalHeight;

            // draw image html element onto canvas, keep image original size
            ctx.drawImage(img, 0, 0);

            appController.startGetBoundingBox(theFile.name);
          };
        };
      })(f);

      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
  };

  document.getElementById('input-file')
      .addEventListener('change', handleFileSelect, false);
</script>
</body>
</html>
