commands:
  00_download_model:
    command: 'wget https://pjreddie.com/media/files/yolov3.weights -P ./yolov3_tf2/data/'
  01_create_folder_checkpoints:
    command: 'mkdir -p ./yolov3_tf2/checkpoints'
  02_convert_model:
    command: 'python ./yolov3_tf2/convert.py --weights ./yolov3_tf2/data/yolov3.weights --output ./yolov3_tf2/checkpoints/yolov3.tf'
