commands:
  00_create_folder_data:
    command: 'mkdir -p ./yolov3_tf/data'
  01_download_model:
    command: 'wget https://pjreddie.com/media/files/yolov3.weights -P ./yolov3_tf/data/'
  02_create_folder_checkpoints:
    command: 'mkdir -p ./yolov3_tf/checkpoints'
  03_convert_model:
    command: 'python convert.py --weights ./data/yolov3.weights --output ./checkpoints/yolov3.tf'
